* {
    color-scheme: dark;
}
body {
    background-color: black;
    color: white;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}
a{
    color: #46ff46;
}
img{
    background-color: transparent;
}